:root {
  /* Color Variables*/

  --gray1: #F5F5F5;
  --gray2: #E7E7E7;
  --gray3: #CACACA;
  --gray4: #807A75;
  --gray5: #2C2727;

  --primary: #3B100F;
  --primary-accent: #70371C;
  --secondary: #A48061;
  --secondary-accent: #CDB592;
}

* {
  font-family: "IBM Plex Sans Condensed", "Helvetica Neue", Arial, sans-serif;
}

header {
  display: flex;
  top: 0;
  position: sticky;
  flex-direction: column;
  min-width: 100vh;
  width: 100vw;
  z-index: 10;
}

html {
  /* These 2 lines ensure scrollbar is hidden, 
  but user can still scroll */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  height: 100vh;
  background: var(--gray3);
  width: calc(100vw-10px);
  margin: 0;
}

.bold-text {
  font-weight: 600;
}

/* Everything below here should be in seperate files */

/* Dashboard Styles*/

.dashboard-tab-container {
  display: flex;
  flex-direction: column;
  top: 0;
}

.dashboard-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header-title {
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 1rem;
}

.dashboard-header-title-text {
  display: flex;
  align-items: baseline;
}

.dashboard-header-title-text p {
  font-size: 18px;
}

.dashboard-header-buttons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-right: 15px;
}

/* Data Tab Styles */

.data-tab-container {
  display: flex;
  flex-direction: column;
  top: 0;
}

.data-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-header-title {
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 1rem;
}

.data-header-title-text {
  display: flex;
  align-items: baseline;
}

.data-header-title-text p {
  font-size: 18px;
}

.data-header-buttons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-right: 15px;
}




.menu-button-container {
  /* common style */
  background: none;
  border: none;
  font-size: 20px;
}

.menu-button {
  /* common style */
  background: none;
  border: none;
  color: var(--gray4);
  font-size: 20px;
  display: inline-flex;
  height: 35px;
  width: 35px;
  border: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  transition-duration: 200ms;
}

.menu-button:hover {
  /* common style */
  background: var(--gray2);
  color: var(--gray5);
  transition-duration: 200ms;
  cursor: pointer;
}

.filter-button {
  /* common style */
  display: flex;
  align-items: center;
  max-height: 40px;
  gap: 0.5rem;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  background: none;
  border: none;
  border-radius: 7px;
  transition-duration: 150ms;
}

.filter-button:hover {
  /* common style */
  cursor: pointer;
  transition-duration: 150ms;
  background: var(--gray1);
}

.date-range-button {
  /* common style */
  display: flex;
  align-items: center;
  max-height: 40px;
  gap: 0.5rem;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--gray1);
  border: none;
  border-radius: 7px;
  transition-duration: 150ms;
}

.date-range-button:hover {
  /* common style */
  cursor: pointer;
  transition-duration: 150ms;
  color: var(--gray3);
}

.download-button {
  /* common style */
  background: none;
  border: none;
  font-size: 18px;
  display: inline-flex;
  height: 35px;
  width: 35px;
  border: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  transition-duration: 200ms;
}

.download-button:hover {
  /* common style */
  cursor: pointer;
  transition-duration: 150ms;
  background: var(--gray1);
}

.share-button {
  /* common style */
  background: none;
  border: none;
  font-size: 18px;
  display: inline-flex;
  height: 40px;
  width: 40px;
  border: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  transition-duration: 200ms;
}

.share-button:hover {
  /* common style */
  cursor: pointer;
  transition-duration: 150ms;
  background: var(--gray1);
}



/* Side Modal Styles - move to a module */

.side-modal-container {
  flex-direction: column;
  position: absolute;
  z-index: 11;
  left: -17rem;
  padding-left: 1.3rem;
  padding-right: 0.8rem;
  height: 100%;
  width: 12.4rem;
  background: white;
  box-shadow: 5px 0px 3px -2px #aeaeae;
  transition: left 0.2s;
}

.side-modal-container-open {
  left: 0
}

.side-modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.9rem;
  background: white;
  border-bottom: solid 1px var(--gray3);
}

.side-modal-contents {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}

.top-players-section {
  display: flex;
  flex-direction: column;

}

/* Player Profile Card styles*/
.player-profile-card {
  display: flex;
  border: none;
  background: none;
  width: fit-content;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 7px;
  font-size: 14px;
}

.player-profile-card:hover {
  cursor: pointer;
  background-color: var(--gray2);
  text-decoration: underline;
}

.your-games-header-bar {
  display: flex;
  background: var(--gray1);
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 1rem;
  font-weight: 500;
}

.game-data-container {
  display: flex;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

.game-list-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 10px;
  border-right: solid 1px var(--gray4);
}

.board-view-container {
  flex: 1;
  border-left: solid 1px var(--gray4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-title-container {
  display: flex;
  margin-top: 10px;
  width: 500px;
  font-size: 18px;
  justify-content: left;
  align-items: flex-start;

}

.chess-board-container {
  display: flex;
  width: 500px;
  height: 500px;
  border: solid 4px var(--gray4);
  box-shadow: 0px 0px 5px 3px #aeaeae;
}

.move-counter-container {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  ;
}

.prev-move-button {
  width: 25px;
  height: 25px;
}

.prev-move-button:hover {
  cursor: pointer;
}

.next-move-button {
  width: 25px;
  height: 25px;
}

.next-move-button:hover {
  cursor: pointer;
}

.move-counter {
  padding: 5px;
}


.open-game-button {
  background: none;
  border: none;
}