.game-card {
    display: flex;
    justify-content: baseline;
    margin: 0px;
    margin-left: 20px;
    border: solid 2px transparent;
    background: none;
    font-size: 15px;
    font-weight: 400;
    width: fit-content;
    font-size: 13px;
}

.game-card:hover {
    border-bottom: solid 2px gray;
    border-top: solid 2px var(--gray4);
    cursor: pointer;
}

.game-card:hover i {
    color: #00a6a6;
    cursor: pointer;
}

.game-card-selected {
    font-weight: 500;
    background-color: var(--gray3);
}

.open-game-button {
    background: none;
    border: none;
}