.graph-view-container {
    display: grid;
    grid-template-columns: repeat(3, 460px);
    grid-auto-rows: 400;
    /* border: solid 1px red; */
    margin: 2rem;
    margin-top: 1rem;
    padding: 10px;
    height: 1000px;
    gap: 30px;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #F5F5F5;
    height: 460px;
    box-shadow: 0px 0px 9px 4px #aeaeae;

}

.graph-view-container div:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1;
}